<nav class="navbar sticky-md-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Angular Training</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="form-array">FormArray</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="drop-search">Drop Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="table">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="mock-output">Mock Output</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="to-do">To-Do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="recipe">Recipe-App</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>